*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    font-family: DDG_ProximaNova, DDG_ProximaNova_UI_0, DDG_ProximaNova_UI_1, DDG_ProximaNova_UI_2, DDG_ProximaNova_UI_3, DDG_ProximaNova_UI_4, DDG_ProximaNova_UI_5, DDG_ProximaNova_UI_6, "Proxima Nova", "Helvetica Neue", Helvetica, "Segoe UI", "Nimbus Sans L", "Liberation Sans", "Open Sans", FreeSans, Arial, sans-serif;
    width: 100%;
    height: 100%;
}



/*HEADER*/

.header {
    background-color: #f7f7f7;
}

.logo {
    width: 100px;
    height: 60px;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    margin-left: -18px;
    
}


.fa-volume-up,.fa-angle-down, .fa-bars {
    color: #aaaaaa;
    font-size: 1.2rem ;
}


/*last-article*/



#article-5 {
    background-color: #87cef5;
    height: 100vh;
    width: 100vw;
    position: relative;
}


.dismiss{
    color:rgba(0,0,0,0.5);
    font-size: 16px;
    line-height:25.6px;
    font-weight: 400;
    text-decoration: none solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.pipe-sign{
    font-size: 14px;
    color: rgba(0,0,0,0.4);
}
.back-search{
    cursor: pointer;
    color: rgba(0,0,0,0.7);
    font-weight: 700;
    font-size: 16px;
    line-height:25.6px;
    text-decoration:none solid rgba(0, 0, 0, 0.7);
    

}


.add-chrome-last {
    color:rgb(255, 255, 255);
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    padding: 17px 24px 15px !important;
    background: #365374 !important;
    border-color: #365374;

}

a:hover .add-chrome-last{
    background: #41658d !important;
    color:#fff !important;
}


#last-card{
    border: none !important;
    background-color: #87cef5;
}
#last-card h2 {

    font-weight: 800;
    font-size: 44px;
    line-height: 48px;
    text-decoration:none solid rgb(54, 83, 116);
    color:rgb(54, 83, 116)
   
}
#last-card .card-text {
    color:rgb(54, 83, 116);
    line-height:28px;
    font-weight:400;
    text-decoration:none solid rgb(54, 83, 116);
    font-size: 20px;

}
.card-text , a:visited, a:hover, a:active{
    text-decoration: none;
    color:rgb(54, 83, 116);
}
.card-text a:hover {
    text-decoration: none;
}

#alpinist {
    width: 100%;
    height: 370px;
    position: absolute;
    bottom: 0;
   
}


/*media query*/

/*hamburger button*/
@media (min-width: 1500px){

    #icon-2 {
        margin-right:80px !important;
    }
}
@media (min-width: 1870px){

    #icon-2 {
        margin-right:110px !important;
       
    }
}
@media (max-width: 1345px){

    #icon-2{
        margin-right: 5px !important;
       
    }
}

/*last article cart*/

@media (max-height: 590px), (max-width: 790px){

 #last-card h2 {
    font-size: 24px;
    line-height: 27px;
    opacity: 0.8 ;
 }
 #last-card{
     margin-top: 80px;
 }

}



