*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
   font-family:  "DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
}



/*HEADER*/

.header {
    background-color: #f7f7f7;
}

.logo {
    width: 100px;
    height: 60px;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    margin-left: -18px;
    
}


.fa-volume-up,.fa-angle-down, .fa-bars {
    color: #aaaaaa;
    font-size: 1.2rem ;
}


/*media query*/

/*hamburger button*/
@media (min-width: 1500px){

    #icon-2 {
        margin-right:80px !important;
    }
}
@media (min-width: 1870px){

    #icon-2 {
        margin-right:110px !important;
       
    }
}
@media (max-width: 1345px){

    #icon-2{
        margin-right: 5px !important;
       
    }
}






